body {
	min-height: 100vh;
	background-image: url('funky-lines.png');
}

.img-thumbnail {
	width: 200px;
  	height: 200px;
	object-fit: cover;
	margin: 10px;
}

.container {
	padding-top: 20px;
}

h1 {
	padding-top: 30px;
}

.gallery {
	width: 100%;
 	display: flex;
 	align-content: flex-start;
 	flex-flow: row wrap;
 	justify-content: center;
 	background: linear-gradient(0deg, rgba(0,0,0,0.1) 0%, rgba(0,0,0,0) 100%);
 	padding: 20px;
 	margin-bottom: 20px;
}

.preview {
	padding: 20px 0;
}
